<div class="container">
    <a routerLink="product/add">Add</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products,index as i">
                <td>{{i+1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <a routerLink="product/{{product.id}}/update">update</a>
                    <button class="btn btn-danger" (click)="onHandleRemove(product.id)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>