<div class="container">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products,index as i">
                <td>{{i+1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <a routerLink="product/{{product.id}}">Click</a>

                </td>
            </tr>
        </tbody>
    </table>
</div>